
.Home{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   

}
h1{
    font-size: 52px;
    margin-bottom: 32px;

    animation-name: MoveinLeft;
    animation-duration: 3s;


}
p{
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 48px;
    animation-name: MoveinLeft;
    animation-duration: 3s;

}
