 @import 'abstract/functions';
 @import 'abstract/mixins';
 @import 'abstract/variables';
 
 
 
 @import 'base/base';
 @import 'base/animation';
 @import 'base/typography';
 @import 'base/utilities';

 @import '../sass/components/buttons';
 @import 'components/card';

 @import 'layout/header';
 @import 'layout/nav';
@import  'layout/footer';
@import 'layout/section';

 @import 'pages/home';




































/* .last{
    font-size: 30px;
    
    padding: 30px 96px;
    padding-bottom: 40px;
    width:100%;
    font-weight: 600;
    color:white;
    clear: both;
    position: relative;
    height: 200px;
    margin-top: auto;
    margin-bottom: auto;


}

.last-box{

    display: flex;
    justify-content: space-between;
    background-color: #894092;
    box-shadow: 0  7px 7px rgba(0, 0, 0, 0.237);
    
} */












 