.section{
    padding:96px;
    /* background-image: linear-gradient(to right,rgb(34, 186, 197),rgb(240, 225, 198)); */
    position: relative;
    background-size: cover;    
    text-align: center;
    /* background: #a1d5ed; */
}

.Topic{

    padding: 14px;
    font-size: 44px;
    margin-bottom: 48px;

}